body{
	padding: 0;
	margin: 0;
	background: radial-gradient(circle, rgba(51,102,0,1) 0%, rgba(0,38,43,1) 100%);
}

h1{
	background: radial-gradient(circle, rgba(51,102,0,1) 0%, rgba(0,38,43,1) 100%);
	border-radius: 25px;
	color: white;
	padding: 10px 120px;
	font-size: 18px;
	font-family: verdana;
	font-weight: normal;
	margin:0;
	box-shadow: 0px 15px 36px -7px rgba(0,0,0,0.75);
}

#container{
	width: 400px;
	height: 525px;
	margin: 100px auto;
	background: linear-gradient(to left, #595959, #d9d9d9);
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	border-radius: 25px;
	box-shadow: 11px 10px 24px 0px rgba(0,0,0,0.75);
}

p{
	padding-left: 30px;
	font-size: 16px;
	font-family: verdana;
}

form input{
	padding-left: 30px;

}

input{
	padding: 10px 30px;
	font-size: 14px;
	border-radius: 20px;
	outline: none;
	box-shadow: 11px 10px 24px 0px rgba(0,0,0,0.75);
}

#billamt, #peopleamt{
	color: #2980b9;
}

#service-qual {
  padding: 10px 10px 10px 10px;
  margin-left: 30px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  box-shadow: 11px 10px 24px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}

button{
	font-family: verdana;
	font-weight: bold;
	padding: 10px;
	display: block;
	margin: 30px auto;
	outline: none;
	cursor: pointer;
	width: 150px;
	background: radial-gradient(circle, rgba(51,102,0,1) 0%, rgba(0,38,43,1) 100%);
	border: none;
	color: white;
	border-radius: 15px;
}

button:hover{
	background: radial-gradient(circle, rgba(0,38,43,1) 0%, rgba(51,102,0,1) 100%);
	color: white;

}

button:active{
	top: 2px;
	position: relative;
}

#total-tip {
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
}

#total-tip:before{
	content: "Tip Amount";
	font-size: 25px;
  	font-weight: bold;
  	display: block;
}

#total-tip small {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

